{% extends 'base.html' %}

{% block content %}
{% load i18n %}
    <article>
        <hgroup>
            <h1>{% trans 'Inscription' %}</h1>
            <h2>{% trans 'Votez pour votre oeuvre favorite !' %}</h2>
        </hgroup>

        <form method="post">
            {% for field in form %}
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}

            {% csrf_token %}
            <button type="submit">{% trans "S'inscrire" %}</button>
        </form>
          <p><a href="{% url 'login'%}">{% trans "Vous avez déjà un compte ? Connectez-vous" %}</a></p>
    </article>
{% endblock content %}