{% extends 'base.html' %} {% block links %} {% load static %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}" /> {% endblock links %} {% block content %}
<h1>Liste des oeuvres</h1>
<button id="create-artwork"><a href="/admin/create">Créer une oeuvre</a></button>
<div class="artworks-content">
    <ul class="artworks-list">
        {% for artwork in artworks %}
        <li class="artworks-item">
            <div class="artwork-img">
                <img src="{{ artwork.image }}" alt="">
            </div>
            <div class="artwork-infos">
                <h2 class="artwork-title">{{ artwork.title }}</h2>
                <p class="artwork-author">{{ artwork.artist }}</p>
            </div>
            <div class="artwork-actions">
                <a href="/admin/edit/{{ artwork.id }}"><button class="artwork-actions-update">Modifier</button></a>
                <button class="artwork-actions-delete">Supprimer</button>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}