{% extends 'base.html' %}

{% block content %}
    <article>
        <hgroup>
            <h1>Connexion</h1>
            <h2>Votez pour votre oeuvre favorite !</h2>
        </hgroup>

        <p class="alert">{{ message }}</p>
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <button type="submit">Se connecter</button>
        </form>

        <p><a href="{% url 'signup'%}">Vous n'avez aucun compte ? Inscrivez-vous</a></p>
        <p><a href="{% url 'password_reset'%}">Mot de passe oublié</a></p>
    </article>
{% endblock content %}