{% extends 'base.html' %} {% block links %} {% load static %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}" /> {% endblock links %} {% block content %}
<h1>Ajouter un artiste</h1>
<button class="create-buttons admin-home"><a href="{% url 'view_artworks' %}">Revenir à l'administration</a></button>
<div class="artist-content">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}{{form}}
        <input type="submit" value="Ajouter" aria-label="Ajouter l'auteur">
    </form>
</div>
{% endblock content %}