/* Orange Light scheme (Default) */


/* Can be forced with data-theme="light" */

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #F08D18;
    --primary-hover: #F6BD79;
    --primary-focus: #C9730D;
    --primary-inverse: #FFF;
    --color: #000;
    --card: #f1f1f1;
}


/* Orange Dark scheme (Auto) */


/* Automatically enabled if user has Dark mode enabled */

@media only screen and (prefers-color-scheme: dark) {
     :root:not([data-theme="light"]) {
        --primary: #F08D18;
        --primary-hover: #F6BD79;
        --primary-focus: #C9730D;
        --primary-inverse: #FFF;
        --color: #FFF;
        --card: #424242;
    }
}


/* Orange Dark scheme (Forced) */


/* Enabled if forced with data-theme="dark" */

[data-theme="dark"] {
    --primary: #F08D18;
    --primary-hover: #F6BD79;
    --primary-focus: #C9730D;
    --primary-inverse: #FFF;
    --color: #FFF;
    --card: #424242;
}


/* Orange (Common styles) */

:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}


/* GLOBAL */

h1,
h2,
h3,
h4,
button,
legend {
    font-family: "Mohave", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 64px;
    color: #F08D18;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 26px;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

button {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 18px;
    height: auto;
    width: auto;
}

legend {
    font-size: 12px;
}

strong {
    color: #F08D18;
    font-weight: bold;
}

.right-text {
    text-align: right;
}


/* Footer */

header {
    background-color: var(--primary);
    display: flex;
    margin-bottom: 4rem;
}

header ul {
    margin-left: auto;
    margin-right: 0;
}

.logo {
    max-width: 10rem;
    object-fit: contain;
    position: relative;
    top: 2rem;
    left: 1rem;
}

.place {
    display: flex;
    flex-direction: column;
}

.place-image {
    margin-bottom: 1rem;
}

@media (min-width: 576px) {
    .logo {
        left: 2.5rem;
    }
}

@media (min-width: 1000px) {
    .place {
        flex-direction: row;
    }
    .place-image {
        margin-right: 2rem;
    }
}