/* Orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #f08D18;
  --primary-hover: #f57c00;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #FFF;
  --color: #000;
  --card: #f1f1f1;
}

/* Orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #f08D18;
    --primary-hover: #ff9800;
    --primary-focus: rgba(251, 140, 0, 0.25);
    --primary-inverse: #FFF;
    --color: #FFF;
    --card: #424242;
  }
}

/* Orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #f08D18;
  --primary-hover: #ff9800;
  --primary-focus: rgba(251, 140, 0, 0.25);
  --primary-inverse: #FFF;
  --color: #FFF;
  --card: #424242;
}

/* Orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* Footer */
body > footer {
  padding: 1rem 0;
}

header {
  background-color: var(--primary);
  display: flex;
  margin-bottom: 4rem;
}


header ul {
  margin-left: auto;
  margin-right: 0;
}

.logo {
  max-width: 10rem;
  object-fit: contain;
  position: relative;
  top: 2rem;
  left: 1rem;
}

@media (min-width: 576px) {
  .logo {
    left: 2.5rem;
  }
}