{% extends 'base.html' %} {% block content %}
<h1>Mentions Légales</h1>
<div class="separator"></div>

<div class="text-content">
    <p>Ce site internet est réalisé par La Galerie du Numérique – 11 rue Emile DURAND - 75001 Paris.</p>
    <p>Courriel : contact@galerie-numerique.com, Téléphone : 02 97 39 36 10</p>
    <p>Directeurs de la publication : Louis DUFEUILLE, Directeur Marketing de La Galerie du Numérique</p>
    <p>Responsable de la rédaction : Stéphane GRUAUT, Directeur Général de La Galerie du Numérique</p>
</div>

{% endblock content %}