<!doctype html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    {% block links %}{% endblock links %}
    <title>Galerie du numérique</title>
</head>
<body>
    <header>
        <div class="logo">
            {% load static %}
            <img src="{% static 'Logo.png' %}" alt="La Galerie du Numérique">
        </div>   
        <nav class="container-fluid">
            <ul>
                <li><a href="#">Accueil</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'galery' %}">Galerie</a></li>
                    <li><a href="{% url 'logout'%}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock content %}
    </main>
</body>
</html>