<div class="place">
    <div class="place-image">
        {% load static %}
        <img src="{% static 'images/gallery.png' %}" alt="Photographie de notre galerie">
    </div>
    <div class="place-text">
        <p class="place-text-content">Créée en 2010, la Galerie du Numérique est un établissement public à caractère administratif placé sous tutelle du ministère chargé de la culture. Nos missions sont :
            <ul>
                <li>développer la fréquentation du public</li>
                <li>participer à l’éducation et la passation de connaissance</li>
            </ul>
            Notre galerie se situe dans le 15ème arrondissement de Paris, ouvert de 10H à 22H du Lundi au Samedi.
        </p>
        <p class="place-text-address">11 rue Émile DURAND, 75001 Paris</p>
    </div>
</div>