{% extends 'base.html' %} {% block links %} {% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" /> {% endblock links %} {% block content %}

<h1>{{artwork.title}}</h1>
<div class="artwork-content">
    <div class="artwork-heading">
        <div>
            <p>Date <strong>{{artwork.released_at|default_if_none:"Donnée inconnue"}}</strong></p>
            {% if artwork.width and artwork.height %}
            <p>Taille <strong>{{artwork.width}}cm x {{artwork.height}}cm</strong></p>
            {% else %}
            <p>Taille Inconnue</p>
            {% endif %}
            <p>Lieu <strong>{{artwork.location|default_if_none:"Donnée inconnue"}}</strong></p>
        </div>
            {% if user.is_superuser != True %}
                <div class="vote">
                    <legend class="right-text">Votez pour votre oeuvre favorite pour qu'elle puisse être exposée cette semaine !
                    </legend>
                    <form method="POST" action="{% url 'add_vote' artwork.id %}">
                        {% csrf_token %}
                        <button type="submit">Voter</button>
                    </form>
                </div>
            {% endif %}
    </div>

    <div class="img-description">
        {% if artwork.image %}
        <img src="{{ artwork.image }}" alt="{{ artwork.title }}" class="img-fluid"> {% else %}
        <img src="{% static 'images/404.png' %}" alt="{{ artwork.title }}" class="img-fluid"> {% endif %}
            <p class="justify-text">{{artwork.description|safe|default:"Donnée introuvable"}}</p>
    </div>
</div>
<div class="detail-author">
    {% if artwork.artist.image %}
    <img src="{{ artwork.artist.image }}" alt="{{ artwork.artist.name }}" class="img-fluid"> {% else %}
    <img src="{% static 'images/404.png' %}" alt="404 image" class="img-error"> {% endif %}
    <div>
        <h3>{{ artwork.artist.name }}</h3>
        {% if artwork.artist.birthday and artwork.artist.deathday %}
        <legend>{{ artwork.artist.birthday }} - {{ artwork.artist.deathday }}</legend>
        {% endif %}
    </div>
</div>

{% endblock content %}