{% extends 'base.html' %}


{% block links %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/details.css' %}" />
{% endblock links %}

{% block content %}

        <h1>{{artwork.title}}</h1>
        <div class="grid">
            <div>
                <div class="grid"> 
                <p>Date {{artwork.released_at|default_if_none:"Donnée inconnue"}}</p>
                <p>Taille {{artwork.width}}cm x {{artwork.heigth}}cm</p>
                <p>Lieu {{artwork.location|default_if_none:"Donnée inconnue"}}</p>
                <div>
                    <p>Votez pour votre oeuvre favorite pour qu'elle puisse être exposée cette semaine !</p>
                    <button>Voter</button>
                </div>
                </div>
             
                 <div class="grid"> 
                     <div> 
                <img src="{{ artwork.image }}" alt="{{ artwork.title }}" class="img-fluid">
                </div>
                 <div>
                
                <p>{{artwork.description}}</p>
            </div>
            </div>
            </div>
           
        </div>
        <div class="img-author">
            {% if artist.image%}
            <img src="{{ artist.image }}" alt="{{ artist.name }}" class="img-fluid">
            {% else %}
            <img src="{% static 'images/404.png' %}" alt="404 image" class="img-error" >
            {% endif %}
            <h2>{{artist.name}}</h2>
            {% if artist.birthday and artist.deathday %}
                <p>{{artist.birthday}} - {{artist.deathday}}</p>
            {% endif %}
        </div>




        <p></p>{% endblock content %}