{% extends 'base.html' %}

{% block links %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
{% endblock links %}

{% block content %}
{% load i18n %}
    <h1>{% trans "Galerie" %}</h1>
    {% include "presentation.html" %}
    <div class="separator"></div>
    {% if artworks|length > 0 %}
        <div class="controls">
            <button id="sort">{% trans "Trier" %}</button>
            <button id="filter">{% trans "Filtrer" %}</button>
        </div>
    {% endif %}

    <div class="gallery">
        <ul class="art-list">
            {% for artwork in artworks %}
                <li class="art-item">
                    <div class="art-item-image">
                        {% if artwork.image %}
                            <img src="{{ artwork.image }}" alt="Image de {{ artwork.title }}" />
                        {% else %}
                            <img src="{% static 'images/404.png' %}" alt="Image introuvable" />
                        {% endif %}
                    </div>
                    <div class="art-item-infos">
                        <p class="art-item-title">{{ artwork.title }}</p>
                        {% trans 'Donnée inconnue' as transl %}
                        <p class="art-item-date">{{ artwork.released_at|default_if_none:transl }}</p>
                        <p class="art-item-author">{{ artwork.artist.name }}</p>
                    </div>
                </li>
            {% empty %}
                <p>Il semblerait qu'il n'y ait aucune oeuvre de disponible pour le moment. Revenez un peu plus tard!</p>
            {% endfor %}
        </ul>

    </div>
     <div class="pagination">
        {% if artworks.has_previous %}
            <a href="?page={{ artworks.previous_page_number }}" role="button">Précédent</a>
         {% endif %}

        {% if artworks.has_next %}
            <a href="?page={{ artworks.next_page_number }}" role="button">Suivant</a>
        {% endif %}
    </div>
{% endblock content %}