{% extends 'base.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
{% endblock links %}

{% block content %}
<h1>Galerie</h1>
<!-- component: presentation of the physical gallery-->
<div class="separator"></div>
<div class="controls">
    <button id="sort">Trier</button>
    <button id="filter">Filtrer</button>
</div>

<div class="gallery">
    <ul class="art-list">
        <li class="art-item">
            <div class="art-item-image">
                <img src="" alt="">
            </div>
            <div class="art-item-infos">
                <p class="art-item-title">Nom de l'oeuvre</p>
                <p class="art-item-date">20 Septembre 1984</p>
                <p class="art-item-author">Auteur</p>
            </div>
        </li>
    </ul>
</div>
{% endblock content %}