<div class="place">
    <div class="place-image">
        {% load static %}
        {% load i18n %}
        <img src="{% static 'images/gallery.png' %}" alt="Photographie de notre galerie">
    </div>
    <div class="place-text">
        <p class="place-text-content">{% trans "Créée en 2010, la Galerie du Numérique est un établissement public à caractère administratif placé sous tutelle du ministère chargé de la culture. Nos missions sont :" %}
            <ul>
                <li>{% trans "développer la fréquentation du public" %}</li>
                <li>{% trans "participer à l’éducation et la passation de connaissance" %}</li>
            </ul>
           {% trans "Notre galerie se situe dans le 15ème arrondissement de Paris, ouvert de 10H à 22H du Lundi au Samedi." %}
        </p>
        <legend>11 rue Émile DURAND, 75001 Paris</legend>
    </div>
</div>